<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>vue-mysql</title>
    <link href=/static/css/app.8f91f3a0101e2063f31b9ce5a3cc71e4.css rel=stylesheet>
</head>
<body>
<div id=app>

</div>
<script type=text/javascript src=/static/js/manifest.19d93814ebff4124b5a2.js>

</script>
<script type=text/javascript src=/static/js/vendor.934bd6c3895c3a743fac.js>

</script>
<script type=text/javascript src=/static/js/app.121d46032909002ea2a2.js>

</script>
<div>
</div>
</body>
</html>