<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="/static/css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/static/js/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <script src="/static/js/index.js"></script>
</head>
<body >
<!--总的大盒子  开始-->
<div class="box">
    <!--顶部导航栏  开始-->
    <div class="navbox">
        <p >欢迎您,</p>
        <a href="javascript:void(0)" >退出登录</a>
    </div>
    <!--顶部导航栏  结束-->
    <!--中部部导航栏  开始-->
    <div class="navbox2">
        <p>城市消防安全系统</p>
        <div class="box1">
            <img src="/static/images/nav/8.png">
            <a href="javascript:void(0)" onclick="bot1how()">数据管理</a>
        </div>
        <div class="box2">
            <img src="/static/images/nav/1.png">
            <a href="javascript:void(0)" onclick="bot2show()">数据采集</a>
        </div>
        <div class="box3" >
            <img src="/static/images/nav/2.png">
            <a href="javascript:void(0)" onclick="bot3show()">数据分析/可视化</a>
        </div>
        <div class="box4">
            <img src="/static/images/nav/3.png">
            <a href="javascript:void(0)" onclick="bot4show()">预警预案管理</a>
        </div>
        <div class="box5">
            <img src="/static/images/nav/3.png">
            <a href="javascript:void(0)" onclick="bot5show()">救援方案管理</a>
        </div>
        <div class="box6">
            <img src="/static/images/nav/4.png">
            <a href="javascript:void(0)" onclick="bot6show()">街道/村功能分析</a>
        </div>
        <div class="box7">
            <img src="/static/images/nav/5.png">
            <a href="javascript:void(0)" onclick="bot7show()">系统设置</a>
        </div>
        <div class="box8">
            <img src="/static/images/nav/6.png">
            <a href="javascript:void(0)" onclick="bot8show()">邮件设置</a>
        </div>
        <div class="box9">
            <img src="/static/images/nav/7.png">
            <a href="javascript:void(0)" onclick="bot9show()">个人信息</a>
        </div>
    </div>
    <!--中部部导航栏  结束-->
    <!--数据管理  开始-->
    <div class="bottom_box1" id="bot1" style="display: block">
    <!--左边导航栏  开始-->
    <div class="left_box">
        <!--数据管理导航  开始-->
        <div class="left_box1">
            <img src="/static/images/1.png" class="img_box">
            <p>数据管理</p>
        </div>
        <!--数据管理导航  开始-->
        <!--导航栏1  开始-->
        <div class="min_navbox" onmousemove="showD('nav_box1')" onmouseout="hideD('nav_box1')">
            <img src="/static/images/2.png" class="min_img">
            <a href="javascript:void(0)" >导航栏1</a>
        </div>
        <!--导航栏1  结束-->
        <!--导航栏2  开始-->
        <div class="min_navbox" onmousemove="showD('nav_box2')" onmouseout="hideD('nav_box2')">
            <img src="/static/images/2.png" class="min_img">
            <a href="javascript:void(0)">导航栏2</a>
        </div>
        <!--导航栏2  结束-->
        <!--导航栏3  开始-->
        <div class="min_navbox" onmousemove="showD('nav_box3')" onmouseout="hideD('nav_box3')">
            <img src="/static/images/2.png" class="min_img">
            <a href="javascript:void(0)"  >导航栏3</a>
        </div>
        <!--导航栏3  结束-->
        <!--导航栏4  开始-->
        <div class="min_navbox" onmousemove="showD('nav_box4')" onmouseout="hideD('nav_box4')">
            <img src="/static/images/2.png" class="min_img">
            <a href="javascript:void(0)">导航栏4</a>
        </div>
        <!--导航栏4  结束-->
    </div>
    <!--左下部导航栏  结束-->
    <!--导航栏详细1  开始-->
    <div class="nav_box1" style="display: block" id="nav_box1" onmousemove="showD('nav_box1')" onmouseout="hideD('nav_box1')">
        <table class="table table-hover table table-bordered" style="width: 1200px;height: 50px">
            <tr>
                <th>
                    第一栏
                </th>
                <th>
                    第二栏
                </th>
                <th>
                    第三栏
                </th>
                <th>
                    第四栏
                </th>
                <th>
                    第五栏
                </th>
            </tr>
        </table>
        <table class="table table-hover table table-bordered" style="width: 1200px;height: 500px">
            <tr>
                <th>
                    第一栏
                </th>
                <th>
                    第二栏
                </th>
                <th>
                    第三栏
                </th>
                <th>
                    第四栏
                </th>
                <th>
                    第五栏
                </th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr><tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </table>
    </div>
    <!--导航栏详细1  结束-->
    <!--导航栏详细2  开始-->
    <div class="nav_box2" style="display: none" id="nav_box2" onmousemove="showD('nav_box2')" onmouseout="hideD('nav_box2')">
    </div>
    <!--导航栏详细2  结束-->
    <!--导航栏详细3  开始-->
    <div class="nav_box3" style="display: none" id="nav_box3" onmousemove="showD('nav_box3')" onmouseout="hideD('nav_box3')">
        <div style="width: 1340px;height: 30px;background-color: coral">
            <p style="padding-top: 4px;letter-spacing: 3px">经验总结分析</p>
        </div>
        <div style="width: 1340px;height: 50px;background-color: #6DDCBD">
            <form action="/fire/search" method="post" >
                {% csrf_token %}
                <input type="text" name="search" placeholder="请输入id搜索" id="myInput">
                <input type="submit" value="搜索">
            </form>
        </div>
        <div style="width: 1340px;height: 600px;background-color: #f6f6f6">
            <div style="width: 1340px;height: 40px" class="tablehead">
                <table border="1" width="1200px" height="500px">
                    <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            火灾经济损失
                        </th>
                        <th>
                            起火原因
                        </th>
                        <th>
                            死亡人数
                        </th>
                        <th>
                            轻伤人数
                        </th>
                        <th>
                            重伤人数
                        </th>
                        <th>
                            本地死亡人数
                        </th>
                        <th>
                            外地死亡人数
                        </th>
                        <th>
                            男性死亡人数
                        </th>
                        <th>
                           女性死亡人数
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <table id="idData" width="1200px" height="300px"  style="margin-top: 2px" border="1" >
              </table>
        </div>
    </div>
    <!--导航栏详细3  结束-->
    <!--导航栏详细4  开始-->
    <div class="nav_box4" style="display: none" id="nav_box4" onmousemove="showD('nav_box4')" onmouseout="hideD('nav_box4')">

    </div>
    <!--导航栏详细4  结束-->
    </div>
    <!--数据管理  结束-->
    <!--数据采集  开始-->
    <div class="bottom_box1"id="bot2" style="display: none">
        <!--左边导航栏  开始-->
        <div class="left_box">
            <!--数据管理导航  开始-->
            <div class="left_box1">
                <img src="/static/images/nav/1.png" class="img_box">
                <p>数据采集</p>
            </div>
            <!--数据管理导航  开始-->
            <!--导航栏1  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box21')" onmouseout="hideD('nav_box21')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)" >导航栏1</a>
            </div>
            <!--导航栏1  结束-->
            <!--导航栏2  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box22')" onmouseout="hideD('nav_box22')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏2</a>
            </div>
            <!--导航栏2  结束-->
            <!--导航栏3  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box23')" onmouseout="hideD('nav_box23')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)"  >导航栏3</a>
            </div>
            <!--导航栏3  结束-->
            <!--导航栏4  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box24')" onmouseout="hideD('nav_box24')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏4</a>
            </div>
            <!--导航栏4  结束-->
        </div>
        <!--左下部导航栏  结束-->
        <!--导航栏详细1  开始-->
        <div class="nav_box1" style="display: block" id="nav_box21" onmousemove="showD('nav_box21')" onmouseout="hideD('nav_box21')">
            <h1>这里写数据采集部分</h1>
        </div>
        <!--导航栏详细1  结束-->
        <!--导航栏详细2  开始-->
        <div class="nav_box2" style="display: none" id="nav_box22" onmousemove="showD('nav_box22')" onmouseout="hideD('nav_box22')">

        </div>
        <!--导航栏详细2  结束-->
        <!--导航栏详细3  开始-->
        <div class="nav_box3" style="display: none" id="nav_box23" onmousemove="showD('nav_box23')" onmouseout="hideD('nav_box23')">

        </div>
        <!--导航栏详细3  结束-->
        <!--导航栏详细4  开始-->
        <div class="nav_box4" style="display: none" id="nav_box24" onmousemove="showD('nav_box24')" onmouseout="hideD('nav_box24')">

        </div>
        <!--导航栏详细4  结束-->
    </div>
    <!--数据采集  结束-->
    <!--数据分析/可视化  开始-->
    <div class="bottom_box1"id="bot3" style="display: none">
        <!--左边导航栏  开始-->
        <div class="left_box">
            <!--数据管理导航  开始-->
            <div class="left_box1">
                <img src="/static/images/nav/2.png" class="img_box">
                <p>数据可视化</p>
            </div>
            <!--数据管理导航  开始-->
            <!--导航栏1  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box31')" onmouseout="hideD('nav_box31')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)" >导航栏1</a>
            </div>
            <!--导航栏1  结束-->
            <!--导航栏2  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box32')" onmouseout="hideD('nav_box32')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏2</a>
            </div>
            <!--导航栏2  结束-->
            <!--导航栏3  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box33')" onmouseout="hideD('nav_box33')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)"  >导航栏3</a>
            </div>
            <!--导航栏3  结束-->
            <!--导航栏4  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box34')" onmouseout="hideD('nav_box34')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏4</a>
            </div>
            <!--导航栏4  结束-->
        </div>
        <!--左下部导航栏  结束-->
        <!--导航栏详细1  开始-->
        <div class="nav_box1" style="display: block" id="nav_box31" onmousemove="showD('nav_box31')" onmouseout="hideD('nav_box31')">

        </div>
        <!--导航栏详细1  结束-->
        <!--导航栏详细2  开始-->
        <div class="nav_box2" style="display: none" id="nav_box32" onmousemove="showD('nav_box32')" onmouseout="hideD('nav_box32')">
            <h1>这里写数据分析/可视化部分</h1>
        </div>
        <!--导航栏详细2  结束-->
        <!--导航栏详细3  开始-->
        <div class="nav_box3" style="display: none" id="nav_box33" onmousemove="showD('nav_box33')" onmouseout="hideD('nav_box33')">

        </div>
        <!--导航栏详细3  结束-->
        <!--导航栏详细4  开始-->
        <div class="nav_box4" style="display: none" id="nav_box34" onmousemove="showD('nav_box34')" onmouseout="hideD('nav_box34')">

        </div>
        <!--导航栏详细4  结束-->
    </div>
    <!--数据分析/可视化  结束-->
    <!--预警预案管理  开始-->
    <div class="bottom_box1" id="bot4" style="display: none">
        <!--左边导航栏  开始-->
        <div class="left_box">
            <!--数据管理导航  开始-->
            <div class="left_box1">
                <img src="/static/images/nav/3.png" class="img_box">
                <p>预警管理</p>
            </div>
            <!--数据管理导航  开始-->
            <!--导航栏1  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box41')" onmouseout="hideD('nav_box41')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)" >导航栏1</a>
            </div>
            <!--导航栏1  结束-->
            <!--导航栏2  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box42')" onmouseout="hideD('nav_box42')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏2</a>
            </div>
            <!--导航栏2  结束-->
            <!--导航栏3  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box43')" onmouseout="hideD('nav_box43')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)"  >导航栏3</a>
            </div>
            <!--导航栏3  结束-->
            <!--导航栏4  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box44')" onmouseout="hideD('nav_box44')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏4</a>
            </div>
            <!--导航栏4  结束-->
        </div>
        <!--左下部导航栏  结束-->
        <!--导航栏详细1  开始-->
        <div class="nav_box1" style="display: block" id="nav_box41" onmousemove="showD('nav_box41')" onmouseout="hideD('nav_box41')">
            <h1>这里写预警预案管理部分</h1>
        </div>
        <!--导航栏详细1  结束-->
        <!--导航栏详细2  开始-->
        <div class="nav_box2" style="display: none" id="nav_box42" onmousemove="showD('nav_box42')" onmouseout="hideD('nav_box42')">

        </div>
        <!--导航栏详细2  结束-->
        <!--导航栏详细3  开始-->
        <div class="nav_box3" style="display: none" id="nav_box43" onmousemove="showD('nav_box43')" onmouseout="hideD('nav_box43')">

        </div>
        <!--导航栏详细3  结束-->
        <!--导航栏详细4  开始-->
        <div class="nav_box4" style="display: none" id="nav_box44" onmousemove="showD('nav_box44')" onmouseout="hideD('nav_box44')">

        </div>
        <!--导航栏详细4  结束-->
    </div>
    <!--预警预案管理  结束-->
    <!--救援方案管理  开始-->
    <div class="bottom_box1" id="bot5" style="display: none">
        <!--左边导航栏  开始-->
        <div class="left_box">
            <!--数据管理导航  开始-->
            <div class="left_box1">
                <img src="/static/images/nav/3.png" class="img_box">
                <p>方案管理</p>
            </div>
            <!--数据管理导航  开始-->
            <!--导航栏1  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box51')" onmouseout="hideD('nav_box51')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)" >导航栏1</a>
            </div>
            <!--导航栏1  结束-->
            <!--导航栏2  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box52')" onmouseout="hideD('nav_box52')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏2</a>
            </div>
            <!--导航栏2  结束-->
            <!--导航栏3  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box53')" onmouseout="hideD('nav_box53')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)"  >导航栏3</a>
            </div>
            <!--导航栏3  结束-->
            <!--导航栏4  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box54')" onmouseout="hideD('nav_box54')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏4</a>
            </div>
            <!--导航栏4  结束-->
        </div>
        <!--左下部导航栏  结束-->
        <!--导航栏详细1  开始-->
        <div class="nav_box1" style="display: block" id="nav_box51" onmousemove="showD('nav_box51')" onmouseout="hideD('nav_box51')">
            <h1>这里写救援方案管理部分</h1>
        </div>
        <!--导航栏详细1  结束-->
        <!--导航栏详细2  开始-->
        <div class="nav_box2" style="display: none" id="nav_box52" onmousemove="showD('nav_box52')" onmouseout="hideD('nav_box52')">

        </div>
        <!--导航栏详细2  结束-->
        <!--导航栏详细3  开始-->
        <div class="nav_box3" style="display: none" id="nav_box53" onmousemove="showD('nav_box53')" onmouseout="hideD('nav_box53')">

        </div>
        <!--导航栏详细3  结束-->
        <!--导航栏详细4  开始-->
        <div class="nav_box4" style="display: none" id="nav_box54" onmousemove="showD('nav_box54')" onmouseout="hideD('nav_box54')">

        </div>
        <!--导航栏详细4  结束-->
    </div>
    <!--救援方案管理  结束-->
    <!--街道/村分析功能  开始-->
    <div class="bottom_box1" id="bot6" style="display: none">
        <!--左边导航栏  开始-->
        <div class="left_box">
            <!--数据管理导航  开始-->
            <div class="left_box1">
                <img src="/static/images/nav/4.png" class="img_box">
                <p>分析功能</p>
            </div>
            <!--数据管理导航  开始-->
            <!--导航栏1  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box61')" onmouseout="hideD('nav_box61')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)" >导航栏1</a>
            </div>
            <!--导航栏1  结束-->
            <!--导航栏2  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box62')" onmouseout="hideD('nav_box62')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏2</a>
            </div>
            <!--导航栏2  结束-->
            <!--导航栏3  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box63')" onmouseout="hideD('nav_box63')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)"  >导航栏3</a>
            </div>
            <!--导航栏3  结束-->
            <!--导航栏4  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box64')" onmouseout="hideD('nav_box64')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏4</a>
            </div>
            <!--导航栏4  结束-->
        </div>
        <!--左下部导航栏  结束-->
        <!--导航栏详细1  开始-->
        <div class="nav_box1" style="display: block" id="nav_box61" onmousemove="showD('nav_box1')" onmouseout="hideD('nav_box61')">
            <h1>这里写街道/村分析功能部分</h1>
        </div>
        <!--导航栏详细1  结束-->
        <!--导航栏详细2  开始-->
        <div class="nav_box2" style="display: none" id="nav_box62" onmousemove="showD('nav_box2')" onmouseout="hideD('nav_box62')">

        </div>
        <!--导航栏详细2  结束-->
        <!--导航栏详细3  开始-->
        <div class="nav_box3" style="display: none" id="nav_box63" onmousemove="showD('nav_box3')" onmouseout="hideD('nav_box63')">

        </div>
        <!--导航栏详细3  结束-->
        <!--导航栏详细4  开始-->
        <div class="nav_box4" style="display: none" id="nav_box64" onmousemove="showD('nav_box4')" onmouseout="hideD('nav_box64')">

        </div>
        <!--导航栏详细4  结束-->
    </div>
    <!--街道/村分析功能  结束-->
    <!--系统设置  开始-->
    <div class="bottom_box1" id="bot7" style="display: none">
        <!--左边导航栏  开始-->
        <div class="left_box">
            <!--数据管理导航  开始-->
            <div class="left_box1">
                <img src="/static/images/nav/5.png" class="img_box">
                <p>系统设置</p>
            </div>
            <!--数据管理导航  开始-->
            <!--导航栏1  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box71')" onmouseout="hideD('nav_box71')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)" >导航栏1</a>
            </div>
            <!--导航栏1  结束-->
            <!--导航栏2  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box72')" onmouseout="hideD('nav_box72')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏2</a>
            </div>
            <!--导航栏2  结束-->
            <!--导航栏3  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box73')" onmouseout="hideD('nav_box73')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)"  >导航栏3</a>
            </div>
            <!--导航栏3  结束-->
            <!--导航栏4  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box74')" onmouseout="hideD('nav_box74')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏4</a>
            </div>
            <!--导航栏4  结束-->
        </div>
        <!--左下部导航栏  结束-->
        <!--导航栏详细1  开始-->
        <div class="nav_box1" style="display: block" id="nav_box71" onmousemove="showD('nav_box71')" onmouseout="hideD('nav_box71')">
            <h1>这里写系统设置部分</h1>
        </div>
        <!--导航栏详细1  结束-->
        <!--导航栏详细2  开始-->
        <div class="nav_box2" style="display: none" id="nav_box72" onmousemove="showD('nav_box72')" onmouseout="hideD('nav_box72')">

        </div>
        <!--导航栏详细2  结束-->
        <!--导航栏详细3  开始-->
        <div class="nav_box3" style="display: none" id="nav_box73" onmousemove="showD('nav_box73')" onmouseout="hideD('nav_box73')">

        </div>
        <!--导航栏详细3  结束-->
        <!--导航栏详细4  开始-->
        <div class="nav_box4" style="display: none" id="nav_box74" onmousemove="showD('nav_box74')" onmouseout="hideD('nav_box74')">

        </div>
        <!--导航栏详细4  结束-->
    </div>
    <!--系统设置  结束-->
    <!--邮件信息  开始-->
    <div class="bottom_box1" id="bot8" style="display: none">
        <!--左边导航栏  开始-->
        <div class="left_box">
            <!--数据管理导航  开始-->
            <div class="left_box1">
                <img src="/static/images/nav/6.png" class="img_box">
                <p>邮件信息</p>
            </div>
            <!--数据管理导航  开始-->
            <!--导航栏1  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box81')" onmouseout="hideD('nav_box81')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)" >导航栏1</a>
            </div>
            <!--导航栏1  结束-->
            <!--导航栏2  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box82')" onmouseout="hideD('nav_box82')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏2</a>
            </div>
            <!--导航栏2  结束-->
            <!--导航栏3  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box83')" onmouseout="hideD('nav_box83')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)"  >导航栏3</a>
            </div>
            <!--导航栏3  结束-->
            <!--导航栏4  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box84')" onmouseout="hideD('nav_box84')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏4</a>
            </div>
            <!--导航栏4  结束-->
        </div>
        <!--左下部导航栏  结束-->
        <!--导航栏详细1  开始-->
        <div class="nav_box1" style="display: block" id="nav_box81" onmousemove="showD('nav_box1')" onmouseout="hideD('nav_box81')">
            <h1>这里写邮件信息部分</h1>
        </div>
        <!--导航栏详细1  结束-->
        <!--导航栏详细2  开始-->
        <div class="nav_box2" style="display: none" id="nav_box82" onmousemove="showD('nav_box2')" onmouseout="hideD('nav_box82')">

        </div>
        <!--导航栏详细2  结束-->
        <!--导航栏详细3  开始-->
        <div class="nav_box3" style="display: none" id="nav_box83" onmousemove="showD('nav_box3')" onmouseout="hideD('nav_box83')">

        </div>
        <!--导航栏详细3  结束-->
        <!--导航栏详细4  开始-->
        <div class="nav_box4" style="display: none" id="nav_box84" onmousemove="showD('nav_box4')" onmouseout="hideD('nav_box84')">

        </div>
        <!--导航栏详细4  结束-->
    </div>
    <!--邮件信息  结束-->
    <!--个人信息  开始-->
    <div class="bottom_box1" id="bot9" style="display: none">
        <!--左边导航栏  开始-->
        <div class="left_box">
            <!--数据管理导航  开始-->
            <div class="left_box1">
                <img src="/static/images/nav/7.png" class="img_box">
                <p>个人信息</p>
            </div>
            <!--数据管理导航  开始-->
            <!--导航栏1  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box91')" onmouseout="hideD('nav_box91')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)" >导航栏1</a>
            </div>
            <!--导航栏1  结束-->
            <!--导航栏2  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box92')" onmouseout="hideD('nav_box92')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏2</a>
            </div>
            <!--导航栏2  结束-->
            <!--导航栏3  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box93')" onmouseout="hideD('nav_box93')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)"  >导航栏3</a>
            </div>
            <!--导航栏3  结束-->
            <!--导航栏4  开始-->
            <div class="min_navbox" onmousemove="showD('nav_box94')" onmouseout="hideD('nav_box94')">
                <img src="/static/images/2.png" class="min_img">
                <a href="javascript:void(0)">导航栏4</a>
            </div>
            <!--导航栏4  结束-->
        </div>
        <!--左下部导航栏  结束-->
        <!--导航栏详细1  开始-->
        <div class="nav_box1" style="display: block" id="nav_box91" onmousemove="showD('nav_box91')" onmouseout="hideD('nav_box91')">
            <h1>这里写个人信息部分</h1>
        </div>
        <!--导航栏详细1  结束-->
        <!--导航栏详细2  开始-->
        <div class="nav_box2" style="display: none" id="nav_box92" onmousemove="showD('nav_box92')" onmouseout="hideD('nav_box92')">
        </div>
        <!--导航栏详细2  结束-->
        <!--导航栏详细3  开始-->
        <div class="nav_box3" style="display: none" id="nav_box93" onmousemove="showD('nav_box93')" onmouseout="hideD('nav_box93')">

        </div>
        <!--导航栏详细3  结束-->
        <!--导航栏详细4  开始-->
        <div class="nav_box4" style="display: none" id="nav_box94" onmousemove="showD('nav_box94')" onmouseout="hideD('nav_box94')">

        </div>
        <!--导航栏详细4  结束-->
    </div>
    <!--个人信息  结束-->
</div>
<!--总的大盒子  结束-->
</body>
</html>