<th style="width: 32.8px;">
                            ID
                        </th>
                        <th style="width: 127.2px;">
                            火灾标题
                        </th>
                        <th style="width: 127.2px;">
                            日期
                        </th>
                        <th style="width: 100px;">
                            时间
                        </th>
                        <th style="width: 127.2px;">
                            主要可燃物
                        </th>
                        <th style="width: 127.2px;">
                            火灾类型
                        </th>
                        <th style="width: 128px;">
                            火灾级别
                        </th>
                        <th style="width: 128px;">
                            地址
                        </th>
                        <th style="width: 128px;">
                            详细地址
                        </th>
                        <th style="width: 128px;">
                           消防设施情况
                        </th>
                        <th style="width: 144px;">
                            <p style="position: absolute;top: 100px;right: 40px">操作</p>
                        </th>


<img style="width: 12px;height: 12px;" src="/static/img/详细信息.png">
                        <a href="/fire/firesidetail?id={{ item.id }}" style="text-decoration: none;">详情</a>
                        <img style="width: 12px;height: 12px;" src="/static/img/修改.png">
                        <a href="/fire/updateFiresi?id={{ item.id }}" style="text-decoration: none;">修改</a>
                        <img style="width: 12px;height: 12px;" src="/static/img/3.png">
                        <a href="/fire/deletefiresi?id={{ item.id }}" style="text-decoration: none;">删除</a>