<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例管理</title>
    <link href="/static/css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/static/js/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>
    <style>
        .top_box{
            width: 100%;
            height: 52px;
            background-color: #417690;
            position: relative;
        }
        .top_box p{
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 2px;
            color: #f5dd5d;
            position: absolute;
            left: 20px;
            top: 8px;
        }
        .right_box{
            width: 220px;
            height: 20px;
            position: absolute;
            right: 0px;
            top: 16px;

        }
        .right_box a{
            color: #ffffff;
            text-decoration: none;
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="top_box">
    <p>作战指挥情况案例管理</p>
    <div class="right_box">
        <a href="javascript:void(0)">
            欢迎您{{ username }}
        </a>
        <span style="color: #ffffff">/</span>
        <a href="/fire/adminpsd">
            修改密码
        </a>
        <span style="color: #ffffff">/</span>
        <a href="/fire/adminfight">
            返回
        </a>
    </div>
</div>
<form action="/fire/alterfight"  method="post">
{% csrf_token %}    <!-- 防跨站伪造令牌 -->
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>
            字段名
        </th>
        <th>
            需要修改的值
        </th>
    </tr>
    </thead>

        <tr>
            <td>
                接警时间
            </td>
            <td>
                <input type="text" name="time" class="form-control" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="请输入正确格式YY-MM-DD HH-MM">
            </td>
        </tr>
        <tr>
            <td>
                被困人数
            </td>
            <td>
                <input type="text" name="person" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                侦察情况
            </td>
            <td>
                <input type="text" name="see_com" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                火灾区域
            </td>
            <td>
                <input type="text" name="area" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                火灾扑救战术
            </td>
            <td>
                <input type="text" name="fire_zs" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                火灾异变
            </td>
            <td>
                <input type="text" name="fire_change" class="form-control">
            </td>
        </tr>
            <thead>
            <tr>
                <td>
                    <b>第一支消防队到场情况</b>
                </td>
            </tr>
            </thead>
        <tr>
            <td>
                火灾区域
            </td>
            <td>
                <input type="text" name="area" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                火灾发展阶段
            </td>
            <td>
                <input type="text" name="develop" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                被困人员数
            </td>
            <td>
                <input type="text" name="person" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                火灾侦察情况
            </td>
            <td>
                <input type="text" name="fire_recon" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                有无重大危险情况
            </td>
            <td>
                <label>
                <select class="form-control" name="danger">
                  <option>有</option>
                  <option>没有</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                作战任务
            </td>
            <td>
                <input type="text" name="fight_task" class="form-control">
            </td>
        </tr>
                <tr>
            <td>
                有无建筑结构图
            </td>
            <td>
               <label>
                <select class="form-control" name="danger">
                  <option>有</option>
                  <option>没有</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
        <thead>
            <tr>
                <td>
                    <b>火灾救援人员情况</b>
                </td>
            </tr>
            </thead>
                <tr>
            <td>
                消防人员
            </td>
            <td>
                <label>
                <select class="form-control" name="消防人员">
                  <option>到场</option>
                  <option>未到场</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                群众
            </td>
            <td>
                <label>
                <select class="form-control" name="群众">
                  <option>到场</option>
                  <option>未到场</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                部队
            </td>
            <td>
                <label>
                <select class="form-control" name="部队">
                  <option>到场</option>
                  <option>未到场</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                专家
            </td>
            <td>
                <label>
                <select class="form-control" name="专家">
                  <option>到场</option>
                  <option>未到场</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                政府
            </td>
            <td>
               <label>
                <select class="form-control" name="政府">
                  <option>到场</option>
                  <option>未到场</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                交警
            </td>
            <td>
                <label>
                <select class="form-control" name="交警">
                  <option>到场</option>
                  <option>未到场</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                公安
            </td>
            <td>
                <label>
                <select class="form-control" name="公安">
                  <option>到场</option>
                  <option>未到场</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                 <tr>
            <td>
                医疗
            </td>
            <td>
                <label>
                <select class="form-control" name="医疗">
                  <option>到场</option>
                  <option>未到场</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                安监
            </td>
            <td>
                <label>
                <select class="form-control" name="安监">
                  <option>到场</option>
                  <option>未到场</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
            <thead>
                <tr>
                    <td>
                        <b>救援装备使用情况</b>
                    </td>
                </tr>
            </thead>
                <tr>
            <td>
                水罐车
            </td>
            <td>
                <label>
                <select class="form-control" name="水罐车">
                  <option value="True" >使用</option>
                  <option value="False">未使用</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                泡沫水罐车
            </td>
            <td>
                <label>
                <select class="form-control" name="泡沫水罐车">
                  <option value="True" >使用</option>
                  <option value="False">未使用</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                高倍水罐车
            </td>
            <td>
                <label>
                <select class="form-control" name="高倍水罐车">
                  <option value="True" >使用</option>
                  <option value="False">未使用</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                二氧化碳消防车
            </td>
            <td>
                <label>
                <select class="form-control" name="二氧化碳消防车">
                  <option value="True" >使用</option>
                  <option value="False">未使用</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                干粉消防车
            </td>
            <td>
               <label>
                <select class="form-control" name="干粉消防车">
                  <option value="True" >使用</option>
                  <option value="False">未使用</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                泡沫干粉联用消防车
            </td>
            <td>
                <label>
                <select class="form-control" name="泡沫干粉联用消防车">
                  <option value="True" >使用</option>
                  <option value="False">未使用</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                登高平台消防车
            </td>
            <td>
                <label>
                <select class="form-control" name="登高平台消防车">
                  <option value="True" >使用</option>
                  <option value="False">未使用</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                 <tr>
            <td>
                云梯消防车
            </td>
            <td>
                <label>
                <select class="form-control" name="云梯消防车">
                  <option value="True" >使用</option>
                  <option value="False">未使用</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
                <tr>
            <td>
                通讯消防车
            </td>
            <td>
                <label>
                <select class="form-control" name="通讯消防车">
                  <option value="True" >使用</option>
                  <option value="False">未使用</option>
                  <option value="None" selected>未知</option>
                </select>
                </label>
            </td>
        </tr>
    <thead>
            <tr>
                <td>
                    <b>个人防护装备使用情况</b>
                </td>
            </tr>
            </thead>
        <tr>
            <td>
                头盔种类
            </td>
            <td>
                <input type="text"  class="form-control" name="头盔">
            </td>
        </tr>
        <tr>
            <td>
                防护服种类
            </td>
            <td>
                <input type="text"  class="form-control" name="防护服" >
            </td>
        </tr>
        <tr>
            <td>
                呼吸器种类
            </td>
            <td>
                <input type="text"  class="form-control" name="呼吸器" >
            </td>
        </tr>
        <tr>
            <td>
                手防护种类
            </td>
            <td>
                <input type="text"  class="form-control" name="手防护" >
            </td>
        </tr>
        <tr>
            <td>
                足防护种类
            </td>
            <td>
                <input type="text"  class="form-control" name="足防护" >
            </td>
        </tr>
                <tr>
            <td>
                操作
            </td>
            <td>
                <button type="submit" class="btn btn-primary">提交</button>
            </td>
        </tr>

    </table>
</form>
</body>
</html>